* {
  margin: 0px auto;
}

div {
  text-align: center;
  width: 960px;
  height: 300px;
  border: 2px orange solid;
}

img {
  margin-top: 75px;
  height: 150px;
  border: 2px blue solid;
}

img:first-child {
  float: left;
  margin-left: 75px;
}

img:last-child {
  float: right;
  margin-right: 75px;
}
